/* use Gentium Plus - Regular in .woff format */
@font-face {
  font-family: GentiumPlusW;
  src: url(GentiumPlus-Regular.woff2);
}
/* use Gentium Plus - Italic in .woff2 format */
@font-face {
  font-family: GentiumPlusW;
  font-style: italic;
  src: url(GentiumPlus-Italic.woff2);
}
/* use Gentium Plus - Bold in .woff2 format */
@font-face {
	font-family: GentiumPlusW;
	font-weight: bold;
	src: url(GentiumPlus-Bold.woff2);
}
/* use Gentium Plus - Bold Italic in .woff2 format */
@font-face {
	font-family: GentiumPlusW;
	font-weight: bold;
	font-style: italic;
	src: url(GentiumPlus-BoldItalic.woff2);
}

/* set body to use Gentium Plus */
body {
  font-family: GentiumPlusW, sans-serif;
  font-size: xx-large;
    /* fall back to sans serif so that it's really obvious if the fonts don't load */
}

h1 {
	font-family: "GentiumPlusW", Times, serif;
  font-weight: bold;	
}

h2 {
	font-family: "GentiumPlusW", Times, serif;
  font-weight: bold;	
}

h3 {
	font-family: "GentiumPlusW", Times, serif;
  font-weight: bold;	
}


h4 {
	font-family: "GentiumPlusW", Times, serif;
  font-weight: bold;	
}

h5 {
	font-family: "GentiumPlusW", Times, serif;
  font-weight: bold;	
}

h6 {
	font-family: "GentiumPlusW", Times, serif;
  font-weight: bold;	
}
