@font-face {
  font-family: "et-book";
  src: url("et-book/et-book-roman-line-figures/et-book-roman-line-figures.woff");
  src: url("et-book/et-book-roman-line-figures/et-book-roman-line-figures.woff") format("woff"), url("et-book/et-book-roman-line-figures/et-book-roman-line-figures.eot?#iefix") format("embedded-opentype"), url("et-book/et-book-roman-line-figures/et-book-roman-line-figures.ttf") format("truetype"), url("et-book/et-book-roman-line-figures/et-book-roman-line-figures.svg#etbookromanosf") format("svg");
  font-weight: normal;
  font-style: normal
}

@font-face {
  font-family: "et-book";
  src: url("et-book/et-book-display-italic-old-style-figures/et-book-display-italic-old-style-figures.woff");
  src: url("et-book/et-book-display-italic-old-style-figures/et-book-display-italic-old-style-figures.woff") format("woff"), url("et-book/et-book-display-italic-old-style-figures/et-book-display-italic-old-style-figures.eot?#iefix") format("embedded-opentype"), url("et-book/et-book-display-italic-old-style-figures/et-book-display-italic-old-style-figures.ttf") format("truetype"), url("et-book/et-book-display-italic-old-style-figures/et-book-display-italic-old-style-figures.svg#etbookromanosf") format("svg");
  font-weight: normal;
  font-style: italic
}

@font-face {
  font-family: "et-book";
  src: url("et-book/et-book-bold-line-figures/et-book-bold-line-figures.woff");
  src: url("et-book/et-book-bold-line-figures/et-book-bold-line-figures.woff") format("woff"), url("et-book/et-book-bold-line-figures/et-book-bold-line-figures.eot?#iefix") format("embedded-opentype"), url("et-book/et-book-bold-line-figures/et-book-bold-line-figures.ttf") format("truetype"), url("et-book/et-book-bold-line-figures/et-book-bold-line-figures.svg#etbookromanosf") format("svg");
  font-weight: bold;
  font-style: normal
}

:root {
	--pst-font-family-base: "et-book", Times, serif;
  --pst-font-family-heading: "et-book", Times, serif;

	--pst-sidebar-font-size: 1.2rem;
	--pst-sidebar-font-size-mobile: 1.2rem;
	--pst-sidebar-header-font-size: 1.2rem;
	--pst-sidebar-header-font-weight: 600;

	--pst-font-size-h1:1.5rem ;
	--pst-font-size-h2:1.6rem ;
	--pst-font-size-h3:1.75rem ;
	--pst-font-size-h4:2rem ;
	--pst-font-size-h5:2.25rem ;
	--pst-font-size-h6:2.6rem ;

	--sbt-header-article-font-size: 1.2em;    
}

#site-navigation h1.site-logo {
 margin:.5rem 0 0;
 font-size:1.3rem;
 color:#000;
 text-align:center
}
#site-navigation div.navbar_extra_footer {
 text-align:center;
 font-size:1.1rem;
 color:#5a5a5a;
 margin-bottom:3rem
}

body {
	text-align: justify;
}

p {
	font-size: 1.5rem;
}

div.toctree-wrapper>ul>li>a {
 font-size:1.1em
}